*{
box-sizing: border-box;
}
.example-1{
  margin:60px;
  display: flex;
}

  
  .container { /* задать ширину и выровнять по середине */
    max-width: 980px;
    margin: 0 auto;
  }
  .row { /* строка */
    display: flex;
    flex-wrap: wrap;
  }
  [class^="col"] {
    padding: 0 10px;
  }
  .col-1 {
    flex: 9.3% 0 0;
  }
  .col-2 {
    display: flex;
    flex: 16.6% 0 0;
  }
  .col-3 {
    flex: 80% 0 0;
  }
  .col-4 {
    flex: 33.3% 0 0;
  }
  .col-5 {
    flex: 41.6% 0 0;
  }
  .col-6 {
    flex: 70% 0 0;
    margin-bottom: 100px;
    margin-left: 100px;
  }
  .col-7 {
    flex: 88.3% 0 0;
  }
  .col-8 {
    flex: 66.6% 0 0;
  }
  .col-9 {
    flex: 75% 0 0;
  }
  .col-10 {
    flex: 83% 0 0;
  }
  .col-11 {
    flex: 91.6% 0 0;
  }
  .col-12 {
    flex: 100% 0 0;
  }
  
.row{
  display: flex;
  max-width: 150px;
}