* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.topbar {
  display: flex;
  height: 130px;
  justify-content: space-between;
  padding: 15px 100px 10px 50px;
  box-shadow: 0 0 10px gray;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li a {
  text-decoration: none;
  color: #2a2a2a;
  margin: 0 18px;
}
.topbar .logo {
  margin-top: 20px;
}
.defis {
  border-right: 2px solid black;
  width: 2px;
  height: 18px;
}
.search {
  width: 300px;
  height: 50px;
  box-shadow: 0 0 10px black;
  margin-left: 35px;
  position: relative;
}
.topbar .box nav ul li a img {
  margin-right: 10px;
}
.topbar .box nav ul {
  margin-bottom: 0;
}
.search div {
  width: 280px;
  height: 29px;
  border: 1px solid rgb(216, 216, 216);
  position: absolute;
  top: 10px;
  left: 10px;
}

.navbar{
  margin-top: 2px;
  font-size: 15px;
  color: rgb(9, 12, 15);
  background: none;
  direction:unset;
  position: relative;
  

}
.navbar div {
  position:absolute;
  bottom: 100px;
}
.podo{
  padding-left: 200px;
  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  text-decoration: underline;
}
.body img {
  text-align: center;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 150px;
  
}

.header header{
	width:200px;
  height: 50px;
  margin-left: 600px;
  background-color: #000000;
 padding-top: 15px;
 padding-left: 30px;
 color:white;
 margin-top: 30px;

}
.container {
  background-image: url(./img/Rectangle\ \(64\).png);
}
